{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/clojurescript {:mvn/version "1.10.520"}
        fresnel {:mvn/version "0.2.2"}
        domina {:git/url "https://github.com/dvdreddy/domina.git"
                :sha "2472b860c08d56426a90a7d80be2755139347c85"}
        org.jsoup/jsoup {:mvn/version "1.7.2"}}
 :paths ["src/clj" "src/cljs"]}
